@font-face {
  font-family: Lobster,monospace;
  src: url(https://fonts.googleapis.com/css?family=Lobster);
}

.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    background-color: rgb(146, 107, 185,0.65);
  }
  .nav-link-item {
    padding-right: 2rem;
    margin-top: 4px;
  }
  .nav-link-text {
    color: black;
    

  }
  .nav-link-text:hover{
    box-shadow: 1px 1px 3px 1.5px yellow;
    border-radius: 50%;

  }

  .nav-links:hover{
    background-color: rgba(105, 52, 158, 0.603);
  }

  
  